#define CAM0  1
#define CAM1  1
#if CAM0
&i2c7 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&i2c7m0_xfer>;

        gc8034_0: gc8034@37 {
                status = "okay";
        compatible = "galaxycore,gc8034";
        reg = <0x37>;
        clocks = <&cru CLK_MIPI_CAMARAOUT_M3>;
        clock-names = "xvclk";
        power-domains = <&power RK3588_PD_VI>;
        pinctrl-names = "default";
        pinctrl-0 = <&mipim0_camera3_clk &camera_ctl>;
        //avdd-supply = <&vcc_camera0>;
        rockchip,grf = <&sys_grf>;
        reset-gpios = <&gpio1 RK_PC6 GPIO_ACTIVE_LOW>;
        pwdn-gpios = <&gpio1 RK_PC4 GPIO_ACTIVE_LOW>;
        power-gpios = <&gpio1 RK_PC1 GPIO_ACTIVE_HIGH>;

        rockchip,camera-module-index = <0>;
        rockchip,camera-module-facing = "front";
        rockchip,camera-module-name = "RK-CMK-8M-2-v1";
        rockchip,camera-module-lens-name = "CK8401";
        //lens-focus = <&dw9714_0>;
        port {
            gc8034_0_out: endpoint {
                remote-endpoint = <&mipi_in_dcphy0>;
                data-lanes = <1 2 3 4>;
            };
        };
    };
};



&csi2_dcphy0 {
        status = "okay";

        ports {
                #address-cells = <1>;
                #size-cells = <0>;
                port@0 {
                        reg = <0>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        mipi_in_dcphy0: endpoint@1 {
                                reg = <1>;
                                remote-endpoint = <&gc8034_0_out>;
                                data-lanes = <1 2 3 4>;
                        };
                };
                port@1 {
                        reg = <1>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        csidcphy0_out: endpoint@0 {
                                reg = <0>;
                                remote-endpoint = <&mipi0_csi2_input>;
                        };
                };
        };
};

&mipi0_csi2 {
        status = "okay";

        ports {
                #address-cells = <1>;
                #size-cells = <0>;

                port@0 {
                        reg = <0>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        mipi0_csi2_input: endpoint@1 {
                                reg = <1>;
                                remote-endpoint = <&csidcphy0_out>;
                        };
                };

                port@1 {
                        reg = <1>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        mipi0_csi2_output: endpoint@0 {
                                reg = <0>;
                                remote-endpoint = <&cif_mipi_in0>;
                        };
                };
        };
};


&rkcif_mipi_lvds {
        status = "okay";

        port {
                cif_mipi_in0: endpoint {
                        remote-endpoint = <&mipi0_csi2_output>;
                };
        };
};

&rkcif_mipi_lvds_sditf {
        status = "okay";

        port {
                mipi_lvds_sditf: endpoint {
                        remote-endpoint = <&isp1_in1>;
                };
        };
};

#endif

#if CAM1
&i2c1 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&i2c1m4_xfer>;

        gc8034_1: gc8034@37 {
                status = "okay";
        compatible = "galaxycore,gc8034";
        reg = <0x37>;
        clocks = <&cru CLK_MIPI_CAMARAOUT_M4>;
        clock-names = "xvclk";
        power-domains = <&power RK3588_PD_VI>;
        pinctrl-names = "default";
        pinctrl-0 = <&mipim0_camera4_clk>;
        //avdd-supply = <&vcc_camera1>;
        rockchip,grf = <&sys_grf>;
        reset-gpios = <&gpio3 RK_PB2 GPIO_ACTIVE_LOW>;
        pwdn-gpios = <&gpio3 RK_PA6 GPIO_ACTIVE_LOW>;
        rockchip,camera-module-index = <0>;
        rockchip,camera-module-facing = "back";
        rockchip,camera-module-name = "RK-CMK-8M-2-v1";
        rockchip,camera-module-lens-name = "CK8401";
        //lens-focus = <&dw9714_1>;
        port {
            gc8034_1_out: endpoint {
                remote-endpoint = <&mipi_in_dcphy1>;
                data-lanes = <1 2 3 4>;
            };
        };
    };
};



&csi2_dcphy1 {
        status = "okay";

        ports {
                #address-cells = <1>;
                #size-cells = <0>;
                port@0 {
                        reg = <0>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        mipi_in_dcphy1: endpoint@1 {
                                reg = <1>;
                                remote-endpoint = <&gc8034_1_out>;
                                data-lanes = <1 2 3 4>;
                        };
                };
                port@1 {
                        reg = <1>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        csidcphy1_out: endpoint@0 {
                                reg = <0>;
                                remote-endpoint = <&mipi1_csi2_input>;
                        };
                };
        };
};


&mipi1_csi2 {
        status = "okay";

        ports {
                #address-cells = <1>;
                #size-cells = <0>;

                port@0 {
                        reg = <0>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        mipi1_csi2_input: endpoint@1 {
                                reg = <1>;
                                remote-endpoint = <&csidcphy1_out>;
                        };
                };

                port@1 {
                        reg = <1>;
                        #address-cells = <1>;
                        #size-cells = <0>;

                        mipi1_csi2_output: endpoint@0 {
                                reg = <0>;
                                remote-endpoint = <&cif_mipi_in1>;
                        };
                };
        };
};

&rkcif_mipi_lvds1 {
        status = "okay";

        port {
                cif_mipi_in1: endpoint {
                        remote-endpoint = <&mipi1_csi2_output>;
                };
        };
};

&rkcif_mipi_lvds1_sditf {
        status = "okay";

        port {
                mipi1_lvds_sditf: endpoint {
                        remote-endpoint = <&isp1_in2>;
                };
        };
};




#endif




&rkcif {
        status = "okay";
};


&rkcif_mmu {
        status = "okay";
};

&rkisp0 {
 status = "okay";
};


&isp0_mmu {
 status = "okay";
};


&rkisp_unite {
        status = "okay";

};

&rkisp_unite_mmu {
        status = "okay";
};

&rkisp0_vir0 {
        status = "okay";
        /*
         * dual isp process image case
         * other rkisp hw and virtual nodes should disabled
         */
        rockchip,hw = <&rkisp_unite>;
        port {
                #address-cells = <1>;
                #size-cells = <0>;
#if CAM0
                isp1_in1: endpoint@0 {
                        reg = <0>;
                        remote-endpoint = <&mipi_lvds_sditf>;
                };
#endif
#if CAM1
                isp1_in2: endpoint@1 {
                        reg = <1>;
                        remote-endpoint = <&mipi1_lvds_sditf>;
                };
#endif
        };
};

&mipi_dcphy0 {
        status = "okay";
};
&mipi_dcphy1 {
        status = "okay";
};


/*
&rkisp1 {
 status = "okay";
};

&isp1_mmu {
 status = "okay";
};

*/

&pinctrl {
        camera {
                camera_ctl: camera-ctl {
                        rockchip,pins = <1 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>,
                                        <1 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>,
                                        <1 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
                };
        };
};
